/* app css stylesheet */

body {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
}
h1 {
    margin-bottom: -25px;
}
h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
img {
    padding-right: 30px;
}
form {
    padding-top: 0px;
}
p {
    font-size: 200%;
    margin-top: 10px;
    letter-spacing: 7px;
}
p.septd {
    font-size: 300%;
    margin-bottom: 0px;
}
p.struck {
    font-size: 100%;
    text-decoration: line-through;
    padding-bottom: 10px;
}
span.struck:after {
    content: ",";
}
span.struck.last:after {
    content: "";
}
div.main {
    padding-top: 20px;
}