<div class="main">
    New game? Sure. Just plug in your puzzle below.
    <form name="newGameForm" ng-submit="submit()">
        <input type="text" id="newPuzzle" name="newPuzzle" required autofocus ng-model="newPuzzle" />
        <input type="submit" id="submit" ng-disabled="newGameForm.$invalid" value="Create" />
    </form>
</div>