<img ng-src="img/theman{{game.misses}}.png" style="float: left;" />
<div style="display: block;">
    <form name="hangTheManForm" ng-submit="submit()">
        <p class="septd">{{game.puzzle}}</p>
        <p class="struck">
            <span class="struck" ng-repeat="guess in game.guesses" ng-class="{'last':$last}">{{' ' + guess}}</span>
        </p>
        <div style="visibility: {{(game.puzzle.indexOf('_') < 0) || (game.misses > 5) ? 'hidden' : 'visible'}}">
            <input type="text" id="newGuess" name="newGuess" maxlength="1" size="5" required autofocus ng-model="newGuess" />
            <input type="submit" id="submit" ng-disabled="hangTheManForm.$invalid" value="Guess" />
        </div>
        <div style="visibility: {{game.puzzle.indexOf('_') < 0 ? 'visible' : 'hidden'}}">
            <h4>Looks like you won, but you spared the man. Hollow victory, friend.</h4>
        </div>
        <div style="visibility: {{game.misses > 5 ? 'visible' : 'hidden'}}">
            <h4>Looks like the man got a short drop and sudden stop. Condolences on the puzzle, though.</h4>
        </div>
    </form>
</div>