<div class="main">
    <h7>Hi there! Below are some games you might pick up that are already in progress. If you're into going your own way, why not start a
        <a href="index.html#/create">new game</a>?</h7>
    <ul>
        <li ng-repeat="game in games">
            <p>{{game.puzzle}} -
                <a href="index.html#/play?id={{game._id}}">Play</a>
            </p>
        </li>
    </ul>
</div>